gunicorn==20.0.4
numpy==1.26.2
pybind11 @ file:///private/tmp/pybind11-20231006-5480-1dj4kz4/pybind11-2.11.1
SciPy @ file:///private/tmp/scipy-20231124-6517-1sz4zn/scipy-1.11.4
jupyter-book
matplotlib
pip

pandas
numpy

seaborn

kaggle

xgboost
scikit-learn

flask
ipython

docutils
myst-parser